
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <!-- render after content due to this - http://stackoverflow.com/questions/37944263/jspm-angular2-rc2-build-animate-error -->
  <script src="../../js/circle.sfx.js"></script>
  </body>
</html>
